
body {
    background-color: #090a09;
    font-family: serif;
    font-size: medium;
    color: #ffffff;
    background-image: url(../img/avatar.png);
}


header {
    width: 800;
    margin: 0 auto 10px auto;
    box-sizing: border-box;
    background-color: #063d27;
    border-radius: 8px;
    text-align: left;
}

.headerH1 {
    box-sizing: border-box;
    padding: 5px 0 0 20px;
}

.navigation {
    padding: 0 0 15px 20px;
}

 span {
    margin-right: 30px;
}

.navigation a:link {
    color: #747474;
}

.navigation a:hover {
    color: #ffffff;
}


.card {
    width: 800px;
    height: 220px;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #272727;
    border-radius: 8px;
    padding: auto 10px;
}

.cardFoto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px 15px 10px 20px;
    float: left;
}

.cardHead {
    padding: 10px 15px 0 20px;
}

.cardText {
    padding: 0 15px 10px 20px;
}

.cardSkills {
    width: 800px;
    margin: 20px auto;
    background-color: #272727;
    border-radius: 8px;
    text-align: center;
    padding-bottom: 10px;
}

.skillsHead {
    text-align: left;
    padding: 5px 0 0 20px;
}

#skillsText1 {
    background-color: #272727;
    color: #48df23;
    font-family: Impact;
    font-size: 30px;
}

#skillsText2 {
    background-color: #490404;
    color: #dfa423;
    font-family: serif;
    font-size: 20px;
}

#skillsText3 {
    background-color: #093b07;
    color: #6b23df;
    font-family: Arial;
    font-size: 20px;
}

#skillsText4 {
    background-color: #22036b;
    color: #df2323;
    font-family: Courier;
    font-size: 34px;
}

#skillsText5 {
    background-color: #4b2626;
    color: #21b3ec;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#skillsText6 {
    background-color: #034627;
    color: #b4c00f;
    font-family: Impact;
    font-size: 28px;
}

#skillsText7 {
    background-color: #221717;
    color: #48df23;
    font-family: Hand;
    font-size: 22px;
}

#skillsText8 {
    background-color: #0e0435;
    color: #c74c05;
    font-family: Impact;
    font-size: 28px;
}

#skillsText9 {
    background-color: #2c0909;
    color: #df23cf;
    font-family: Comic;
    font-size: 26px;
}

#skillsText10 {
    background-color: #335033;
    color: #e8e8f0;
    font-family: -apple-system;
    font-size: 20px;
}

#skillsText11 {
    background-color: #960707;
    color: #14A76C;
    font-family: Verdana;
    font-size: 32px;
}

#skillsText12 {
    background-color: #272727;
    color: #b1a60e;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
}

#skillsText13 {
    background-color: #b6b90b;
    color: #0e2508;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    
}

#skillsText14 {
    background-color: #272727;
    color: #df2381;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}

#skillsText15 {
    background-color: #3f013f;
    color: #23c3df;
    font-family: monospace;
    font-size: 30px;
}


.contacts {
    box-sizing: border-box;
    width: 800px;
    margin: 0 auto;
    background-color: #272727;
    border-radius: 8px;
    padding: 5px 10px 10px 20px;
}

.contacts a:link {
    color: #037949;
}

.contacts a:hover {
    color: #ffffff;
}


footer {
    width: 800px;
    margin: 0 auto;
    background-color: #063d27;
    border-radius: 8px;
    text-align: center;
}
